body {
	box-sizing: -webkit-border-box;
	box-sizing: -moz-border-box;
	box-sizing: -ms-border-box;
	box-sizing: border-box;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	background-color: #f7e7b4;
	color: #68c4af;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #96ead7;
}

a {
	text-decoration: none;
}

.button-container{
	height:40px;
	display: flex;
	flex-grow:1;
	padding: 5px;
}

.header {
	font-weight: 300;
	margin: 0;
	margin-bottom: 5px;
}

.home-btn {
	width: 50px;
	border: 2px solid #68c4af;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 5px;
	display: flex;
	justify-content:center;
	align-items:center;
	padding:3px;
}


.home-btn:hover{
	height:auto;
	font-size: 23px;
	width: auto;
	background-color: #f7e7b4;
}

.calc-shell {
	margin: 15px auto 0 auto;
	width: 250px;
	height: 400px;
	border: 2px solid #68c4af;
	border-radius: 5px;
	background-color: #b8dbd3;
	box-shadow: 3px 3px 0 #d3d3d3;
}

.display {
	width: 98%;
	height: 50px;
	margin-top: 3px;
	text-align: right;
	border: 2px solid #68c4af;
	border-radius: 5px;
	font-size: 34px;
	background-color: white;
}

.number-holder {
	width: 75%;
}

.number-holder * {
	width: 50px;
	height: 50px;
	margin: 5px 5px 0 5px;
	border: 2px solid #68c4af;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

.operator-holder {
	width: 25%;
}

.operator-holder * {
	width: 50px;
	height: 50px;
	border: 2px solid #68c4af;
	border-radius: 5px;
	text-align: center;
	margin-top: 5px;
	background-color: white;
}

.misc-holder {
	width: 100%;
	margin-top: 40px;
}

.misc-holder * {
	width: 100px;
	height: 50px;
	margin-right: 5px;
	margin-left: 5px;
	border: 2px solid #68c4af;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

.btn {

}

.btn:active {
	font-size: 28px;
	margin-top: 10px;
	background-color: #f2f6c3;
}

.btn:hover {
	font-size: 28px;
	margin-top: 10px;
	background-color: #f2f6c3;
}

.row {
	width: 100%;
}

@media screen and (min-width: 350px) {
	body {
		width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
}
